@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

form {
    background-color: #242a4e;
    padding: 1rem;
    margin: 1rem auto;
}

label {
    padding: 0.5rem;
    color: #e5c5ff;
}

input {
    border-radius: 0.5rem;
    padding: 0.3rem;
    min-width: 20vw;
    margin-bottom: 1rem;
}

input:focus {
    background-color: #e5c5ff;
}

.btn-avançar, .btn-limpar {
    background-color: #e5c5ff;
    padding: 0.3rem;
    margin-top: 0.2rem;
    border-radius: 0.3rem;
    width: 15%;
    margin-top: 1rem;
}

.btn-avançar:hover,
.btn-limpar:hover { 
    color: #e5c5ff;
    background-color: #242a4e;
    border: 2px solid #e5c5ff;
    border-radius: 0.3rem;
}

.btn-avançar-disable:hover {
    background-color: #e5c5ff;
}


.h2-titulo-form1 {
    text-align: center;
    color: #e5c5ff;
    padding: 10px;
}

fieldset {
    border-radius: 10px;
    border: 1px solid #e5c5ff;
    padding: 2rem;
    /* text-align: center; */
    width: 55%;
    margin: auto;
}

#dialog {
    background-color: #242a4e;
    border-radius: 10px;
    color: #e5c5ff;
    border: 1px solid #e5c5ff;
    margin: auto;
    padding: 4rem;
}

.h1-dialog {
    margin-bottom: 1.5rem;
    text-align: center;

}

#liNome, #liEmail, #liTelefone, #liSenha {
    padding: 0.3rem;
    list-style: none;
    font-weight: bold;
}

.btnModal1, .btnModal2 {
    background-color: #e5c5ff;
    padding: 0.3rem;
    margin-top: 0.2rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
}

.btnModal1:hover, .btnModal2:hover {
    color: #e5c5ff;
    background-color: #242a4e;
    border: 2px solid #e5c5ff;
    border-radius: 0.3rem;
}

.section-form {
    width: 100vw;
    height: 80vh;
    background-color: #242a4e;
}

.div-form {
    display: flex;
    justify-content: center;
    /* width: 60%; */
}

.div1-form {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    margin: auto;
}

.div2-form {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    margin: auto;
}

.btn-form {
    text-align: center;
}


